<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSP検証ページ</title>
</head>
<body>
  <script nonce="<%= nonce %>">
    // alert("Hello, CSP!")
    if(window.trustedTypes && trustedTypes.createPolicy) {
      // ポリシー関数を定義
      const policy = trustedTypes.createPolicy("script-url", {
        // <script> 要素の src に設定する URL をチェックする
        createScriptURL: (str) => {
          // str の URL 文字列から Origin を取得するために URL オブジェクトにする
          const url = new URL(str, location.origin)
          if(url.origin !== location.origin) {
            throw new Error("クロスオリジンは許可されていません。")
          }
          return url
        }
      })
      const script = document.createElement("script")
      // 作成されたポリシー関数によって検査されて、TrustedScriptURL へ変換された値は代入可能になる
      script.src = policy.createScriptURL("./csp-test.js")
      document.body.appendChild(script)
    }
  </script>
</body>
</html>